section#banner-t{
    z-index: 1000;
    position: relative;
}

.alpha  {
    position: relative;
    z-index: -1;
}

#ext-menu{
    height: 100vh;
    width: 20%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    position: absolute;
    z-index: 999 !important;
    top: 0;
    right: -100%;
    display: flex;
    transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    /* display: none; */
}

.show-menu{
    transition: .5s all linear;
    display: flex !important;
    right:0 !important;
}

#ext-menu a{
    color: black !important;
    font-size: 1em;
    text-decoration: none;
    transition: 0.2s all linear;
    font-weight: 300;
}

#ext-menu div{
    padding: 5vh;
    height: 150px;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.6);
    display: flex;
    justify-content: baseline;
    align-items: center;
    /* background-color: pink; */
}
#ext-menu div:nth-child(2n){
    background-color: pink;
}

#ext-menu div::before{
    content: '';
    left: 0;
    margin-top: 100%;
    display: block;
    position: absolute;
    background-color: rgba(99, 61, 67, 0.3);
    height: 150px;
    padding: 5vh;
    width: 100%;
    z-index: -1;
    opacity: 0;
}
#ext-menu div:hover + #ext-menu div::before{
    margin-top: 0;
    opacity: 1 !important;
}

/* add the bottom to up animation */

#ext-menu div:hover > a{
    /* font-size: 2.2em; */
    font-weight: 600;
}

.blur{
    filter: blur(4px);
}