body {
  /* font-family: 'Raleway', sans-serif !important; */
  /* font-family: 'Montserrat', sans-serif !important; */
  font-family: "Poppins", sans-serif !important;
  font-size: 22px !important;
}

section#desc {
  height: 120vh;
  width: 100%;
  background-color: #f1f1f1;
}

.interest {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15vh;
}

.desc-title {
  width: 35%;
  font-weight: 400;
  font-size: 1.7em;
  line-height: 1.3em;
  letter-spacing: 0.5px;
  color: #081b52;
  flex: 1 0 auto;
}

.desc-description {
  width: 65%;
  color: #646464;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.3em;
}

.alpha {
  width: 100%;
  height: 100vh;
  background-image: url("../images/landing/bg-banner1.jpg") !important;
  background-position: center;
  background-size: cover;
}

/* card gallery */

.card-gallery {
  width: 70%;
  height: 65vh;
  /* background-color: orange; */
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  overflow-x: auto;
}

.card-gallery::-webkit-scrollbar {
  display: none;
}

.card-gallery .card {
  position: relative;
  height: 65vh;
  min-width: 30%;
  background-color: pink;
  padding: 40px;
  color: white;
  margin: 0 20px;
}

.card:first-child {
  left: 0;
}

.card-gallery .card-heading {
  font-size: 1.5em;
  color: white;
}

.card-gallery .card-para {
  font-weight: 300;
  letter-spacing: 0.1px;
}

.card-img {
  height: 120px;
}

.green {
  background-color: #a7cd42 !important;
}

.red {
  background-color: #da3144 !important;
}

.orange {
  background-color: #fc6b00 !important;
}

/* nav menu */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}

.logo {
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 2px;
  background-color: #333;
  margin: 8px 0;
  transition: 0.4s;
}
.bar1{
  transform-origin: left top;
}
.bar3{ 
  transform-origin: left bottom;
}
.change .bar1 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bar1{
  transition: 0.1s all linear;
}
.bar2{
  transition: 0.15s all linear;
}
.bar3{
  transition: 0.2s all linear;
}

.hamburger:hover > .bar1{
  background-color: white;
}
.hamburger:hover > .bar2{
  background-color: white;
}
.hamburger:hover > .bar3{
  background-color: white;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.logopic {
  width: 150px;
}

/* company gallery grid  */

.company-gallery {
  width: 70%;
  padding: 0 0 10vh 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.company-gallery .item img {
  width: 50%;
}

.company-gallery .item {
  display: flex;
  justify-content: center;
}
/* hamburger */

/* hamburger end */

/* news grid */

section#news {
  width: 100%;
  background-color: #f1f1f1;
  padding-top: 5vh;
  padding-bottom: 10vh;
}

#news h1.news-title {
  font-size: 1.6em;
  color: #052073;
  font-weight: 500;
  padding: 5vh 0;
  padding: 0;
}

.news-gallery {
  width: 70%;
  padding-top: 5vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 110px;
  justify-content: center;
  /* align-items: center; */
}

.news-item {
  width: 100%;
  transition: 0.2s all linear;
  overflow: hidden;
}

.news-item:hover > img{
  /* -webkit-box-shadow: 0px 0px 26px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 26px -2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 26px -2px rgba(0,0,0,0.75); */
transform: scale(1.03);
}

.news-item img {
  width: 100%;
  height: 250px;
  background-color: grey;
  transition: 0.2s all linear;
}

.news-item .news-title {
  font-size: 1.2em;
  padding: 30px 0;
  font-weight: 400;
  color: #052073;
  line-height: 40px;
  transition: 0.2s all linear !important;
}

.news-item .news-subtitle {
  color: #646464;
  font-weight: 500;
  transition: 0.2s all linear;
}

/* footer */

.site-footer {
  height: 300px;
  background-color: #012063;
  padding: 45px 0 20px;
  font-size: 12px;
  line-height: 24px;
  color: #fff;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #fff;
}

.copyright-text {
  margin: 0;
}

/* footer end */

span.nav {
  height: 130px;
  width: 100%;
  display: flex;
  position: absolute;
}

.logo {
  width: 20% !important;
  height: 100px !important;
  display: flex;
  justify-content: center;
}

.logo img {
  margin: 0 auto;
  height: 130px;
  width: auto;
}

.menu {
  width: 60% !important;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 15%;
  font-weight: 500;
}

.menu a {
  color: #07215e !important;
  font-weight: 600;
  font-size: 0.9em;
  transition: 0.2s all linear;
}

.menu a:hover {
  color: white !important;
}

.hamburger2 {
  width: 20% !important;
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
  align-items: center;
}

#about{
  height: 35vh;
  padding-top: 3vh;
}

#counters{
  height: 43vh;
  width: 70%;
  background-color: #012063;
  position: relative;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1000000;
  color: white !important;
  padding: 8vh;
  text-align: center;
  /* display: none; */
}

#counters .counter-heading{
  color: rgba(255,255,255, 0.7);
  font-size: 1.1em;
  letter-spacing: 0.4px;
  font-weight: 300 !important;
  font-family: "Poppins", sans-serif !important;
}

.counter-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: "Poppins", sans-serif !important;
  align-items: center;  
}

.unit{
  height: 200px;
  /* background-color: black; */
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.counter{
  font-size: 3em;
  font-weight: 300;
}

.unit p{
  color: rgba(255,255,255, 0.8) !important;
}

footer{
  background-color: #012063;
  height: auto;
  padding: 10vh 10vh 0 10vh;
}

.cols{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 70%;
}

.links, .links-ext{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8em;
  color: white;
}

.footer-logo img{
  width: 200px;
}

.copyright{
  font-size: 0.7em;
  color: rgba(255,255,255, 0.7);
  /* position: relative; */
  padding-top: 30px;
  padding-bottom: 20px;
}