/* standard template start */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif !important;
  font-size: 22px !important;
  margin: 0;
  overflow-x: hidden;
}

#circle {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1123123123124;
  /* background-color: red; */
  border-radius: 50%;
  border: 2px solid grey;
  pointer-events: none;
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
    border: 1px solid grey;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 0.5s forwards;
  border: 2px solid #fb7400;
  top: -2px;
  left: -2px;
}

span.nav {
  height: 130px;
  width: 100%;
  display: flex;
  /* position: absolute; */
  z-index: 123123213123;
  background-color: white;
}

.logosa {
  width: 37% !important;
  height: 100px !important;
  display: flex;
  justify-content: center;
}

.logosa img {
  margin: 0 auto;
  height: 130px;
  width: auto;
}

.menu {
  width: 60% !important;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 15%;
  font-weight: 500;
}

.menu a {
  color: #062562 !important;
  font-weight: 400;
  font-size: 0.9em;
  transition: 0.2s all linear;
  text-decoration: none;
  border-bottom: 1px solid white;
}

.menu a:nth-child(3) {
  font-weight: 600;
}

.menu a:hover {
  border-bottom: 1px solid #062562;
}

.menu a:hover ~ #circle {
  height: 100px;
  width: 100px;
}

.hamburger2 {
  width: 37% !important;
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
  align-items: center;
}
.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 2px;
  background-color: #062562;
  margin: 8px 0;
  transition: 0.4s;
}

.bar1 {
  transform-origin: left top;
}
.bar3 {
  transform-origin: left bottom;
}
/* 
  .change > .bar1 {
    background-color: #001f62;
  }
  
  .change > .bar3 {
    background-color: #001f62;
  } */

.change .bar1 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#ext-menu {
  /* height: 50vh; */
  width: 20%;
  backdrop-filter: blur(5px);
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  position: absolute;
  z-index: 63546999 !important;
  top: 0;
  border-radius: 20px 0 0 20px;
  right: -100%;
  display: flex;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  /* display: none; */
  margin-top: 130px;
  -webkit-box-shadow: -10px 0px 72px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -10px 0px 72px -19px rgba(0, 0, 0, 0.75);
  box-shadow: -10px 0px 72px -19px rgba(0, 0, 0, 0.75);
}

.show-menu {
  transition: 0.5s all linear;
  display: flex !important;
  right: 0 !important;
}

#ext-menu a {
  color: black !important;
  font-size: 1em;
  text-decoration: none;
  transition: 0.2s all linear;
  font-weight: 300;
  cursor: pointer;
}

#ext-menu div {
  padding: 5vh 5vh;
  width: 100%;
  display: flex;
  justify-content: baseline;
  align-items: center;
  transition: 0.5s all linear;

  /* background-color: pink; */
}

#ext-menu div::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
  height: 0px;
  padding: 5vh;
  border: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
  /* margin-top: calc(150px + 10vh); */
  transition: 0.3s all cubic-bezier(0.68, 0.04, 0.52, 0.95);
  opacity: 0;

  border-radius: 20px 0 0 20px;
}
#ext-menu div:hover::before {
  /* margin-top: 0vh; */
  height: 100px;
  opacity: 1;
}

#ext-menu div:last-child {
  border-bottom: none;
}

.interest {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15vh;
}

.desc-title {
  width: 25%;
  /* font-weight: 500; */
  font-size: 1.3em;
  line-height: 1.3em;
  letter-spacing: 0.5px;
  color: #081b52;
  /* flex: 1 0 auto; */
  padding-top: 8vh;
  border-top: 1px solid red;
}

.desc-description {
  width: 70%;
  color: #646464;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.3em;
  padding-top: 8vh;
  border-top: 1px solid rgba(0,0,0,0.1);
}


/* standard template end */

.wrapper {
  width: 80%;
  margin: 0 auto 0 auto;
  /* margin: 0 auto; */
  transition: 0.3s all ease-in-out;
  /* background-color: pink; */
}

.side-bar-open{
  transform: translateX(-15%);
  /* width: 80%; */
  transition: 0.3s all ease-in-out;
}

.spacing-100 {
  height: 100px;
}
.spacing-200 {
  height: 200px;
}

footer {
  background-color: #012063;
  height: auto;
  padding: 5vh 10vh 0 10vh;
}

.cols {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.links,
.links-ext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8em;
  color: white;
}

.footer-logo img {
  width: 200px;
}

.copyright {
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.7);
  /* position: relative; */
  padding-top: 30px;
  padding-bottom: 20px;
}

section#companies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 5vh;
  width: 100%;
  justify-content: center;
}

.company {
  display: flex;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}

.company:hover img {
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
}

.company img {
  width: 50%;
  transition: 0.3s all ease-in-out;
  border-radius: 10px;
  /* border: 1px solid grey; */
}
 


.company-popup::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.company-item{
  position: fixed;
  top: 0;
  right: 0;
  background-color: #002063;
  color: white;
  padding: 5vh 5vh;
  width: 20%;
  right: -30%;
  height: 90vh;
  overflow-y: scroll;
  z-index: 1123123123123;
  transition: 0.3s all ease-in-out;
  display: block !important;
  opacity: 0;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;
  font-size: 0.7em;
}

.company-popup{
  transition: 0.3s all ease-in-out;
  opacity: 1;
  right: 0%;
}

.close{
  height: 25px;
  width: 25px;
  background-size: cover;
  background-image: url("../images/close.png");
  position: absolute;
  right: 3vh;
  top: 3vh;
}

.company-title{
  width: 100%;
  display: flex;
  justify-content: left;
  margin-bottom: 10%;
  font-size: 1.2em;
}

.divider2{
  width: 100%;
  height: 1px;
  margin: 3vh auto;
  background-color: #fff;;
}

.para{
  font-size: 1em;
  font-weight: 200;
  line-height: 1.3em;
}

.content{
  display: flex;
  flex-direction: column;

  width: 100%;
}

.names{
  display: flex;
  width: 85%;
  padding: 2vh 0;
  justify-content: space-between;
  flex-direction: column;
  font-weight: 200;
}

.heading{
  font-weight: 300;
}

.item{
  display: flex;
}

.item-text{
  font-weight: 200;
}



footer a{
  text-decoration: none;
  color: white !important;
}

#banner{
  width: 100%;
}


.colon{
  width: 10px;
}

.arya{
  background-color: #5f6a30;
}

.homelane{
  background-color: #d43732;
}

.zetwork{
  background-color: #2f70b4;
}

.progcap{
  background-color: #3170a5;
}

.avanti{
  background-color: #274254;
}

.spinny{
  background-color: #ec274e;
}

.exotel{
  background-color: #149bff;
}

.aknamed{
  background-color: #f36e3f;
}

.zip{
  background-color: #ff6219;
}

.medi{
  background-color: #ff6064;
}

.gramcover{
  background-color: #62554c;
}

.medika{
  background-color: #323c78;
}

.heal{
  background-color: #d23489;
}

.ripplr{
  background-color: #0c4160;
}

.stella{
  background-color: #282c67;
}

.website a{
  color: #fff;
}

#about{
  margin-top: -10vh;
}

@media only screen and (max-width: 1650px) {
  .desc-title {
    width: 25%;
    /* font-weight: 500; */
    font-size: 1.1em;
    line-height: 1.3em;
    letter-spacing: 0.5px;
    color: #081b52;
    /* flex: 1 0 auto; */
    padding-top: 8vh;
    border-top: 1px solid red;
  }

  .desc-description {
    width: 70%;
    color: #646464;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.3em;
    padding-top: 8vh;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}