/* standard template start */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif !important;
  font-size: 22px !important;
  margin: 0;
  overflow-x: hidden !important;
}

#circle {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000000000;
  /* background-color: red; */
  border-radius: 50%;
  border: 2px solid grey;
  pointer-events: none;
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
    border: 1px solid grey;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 0.5s forwards;
  border: 2px solid #fb7400;
  top: -2px;
  left: -2px;
}

span#nav {
  height: 70px;
  width: 100%;
  display: flex;
  background-color: white;
}

.logosa {
  width: 100% !important;
  height: 70px !important;
  display: flex;
  justify-content: center;
}

.logosa img {
  margin: 0 auto;
  height: 70px;
  width: auto;
}

.hamburger2 {
  width: 20% !important;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
  align-items: center;
  height: 70px;
  right: 10px;
}
.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 2px;
  background-color: #062562;
  margin: 8px 0;
  transition: 0.4s;
}

.bar1 {
  transform-origin: left top;
}
.bar3 {
  transform-origin: left bottom;
}
/* 
  .change > .bar1 {
    background-color: #001f62;
  }
  
  .change > .bar3 {
    background-color: #001f62;
  } */

.change .bar1 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#ext-menu {
  /* height: 50vh; */
  width: 40%;
  background-color: white;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  position: absolute;
  z-index: 63546999 !important;
  top: 0;
  border-radius: 20px 0 0 20px;
  right: -100%;
  display: none;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  /* display: none; */
  margin-top: 70px;
  -webkit-box-shadow: -10px 0px 72px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -10px 0px 72px -19px rgba(0, 0, 0, 0.75);
  box-shadow: -10px 0px 72px -19px rgba(0, 0, 0, 0.75);
}

.show-menu {
  transition: 0.5s all linear;
  display: flex !important;
  right: 0 !important;
}

#ext-menu a {
  color: black !important;
  font-size: 0.7em;
  text-decoration: none;
  transition: 0.2s all linear;
  font-weight: 300;
  cursor: pointer;
}

#ext-menu div {
  padding: 2vh 2vh;
  width: 100%;
  display: flex;
  justify-content: baseline; 
  align-items: center;
  transition: 0.5s all linear;

  /* background-color: pink; */
}


/* standard template end */

.wrapper {
  width: 95%;
  margin: 0 auto;
  /* background-color: pink; */
}

.spacing-100 {
  height: 100px;
}
.spacing-200 {
  height: 200px;
}

.team-heading {
  font-size: 2em;
  color: #002063;
  font-weight: 300;
  text-align: center;
}

.divider {
  height: 1px;
  background-color: #002063;
  width: 90%;
  margin: 5vh auto;
}

p.text {
  width: 90%;
  margin: 0 auto;
}

.people-grid {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: center;
  row-gap: 5vh;
  column-gap: 3vh;
}

.card {
  width: 90vw;
  height: 135vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  transition: 0.3s all ease-in-out;
}

.overlay {
  width: 100%;
  /* height: 25vh; */
  background-color: rgba(255, 0, 0, 0.5);
  /* opacity: 0.6; */
  /* position: relative; */
  /* top: 0; */
  display: flex;
  transition: 0.3s all ease-in-out;
  color: white;
  padding: 1vh 1vh 1vh 1vh;
}

.overlay img{
  height: 25px !important;
  /* width: 30px !important; */
  padding: 0 1vw;
}

.orange{
  background-color: #f27f21a9;
}

.yellow{
  background-color: #ffca3fa9;
}

.green{
  background-color: #93ca55a9;
}

.blue{
  background-color: #059cd6a9;
}

.red{
  background-color: #c14148a9;
}

.purple{
  background-color: #00205fa9;
}

.card:hover {
  background-size: 110% 110%;
  transition: 0.3s all ease-in-out;
}

.name {
  font-size: 0.8em;
  font-weight: 300;
}

.divider2 {
  height: 1px;
  width: 85vw !important;
  background-color: white;
  margin: 0.2vh auto;
}

.designation {
  font-weight: 200;
  font-size: 0.8em;
}


.socials {
  padding-top: 0.5vh;
}

.email{
  display: none;
}

.mail{
  font-size: 0.7em;
  display: none;
}


footer {
  background-color: #012063;
  height: auto;
  padding: 5vh 5vh 0 5vh;
}

.cols {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 70%;
}

.footer-logo img {
  width: 200px;
}

.copyright {
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.7);
  /* position: relative; */
  padding-bottom: 20px;
}

.back-up{
  padding: 10vh 0;
  color: black;
  display: flex;
  justify-content: center;
  text-decoration: none;
}


#about {
  /* height: 45vh; */
  padding: 3vh 0 6vh 0;
}

section#desc {
  padding-bottom: 10vh;
  width: 100%;
  background-color: #f1f1f1;
  /* height: 200vh; */
}

.interest {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.desc-title {
  /* width: 25%; */
  /* font-weight: 500; */
  font-size: 1em;
  line-height: 1.3em;
  letter-spacing: 0.5px;
  color: #081b52;
  /* flex: 1 0 auto; */
  padding: 4vh 0;
}

.desc-description {
  color: #646464;
  font-weight: 400;
  font-size: 0.7em;
  line-height: 1.4em;
  padding-top: 4vh;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}